body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text{
  text-align: center;
  font-family: 'Tahoma', sans-serif;
  font-weight: bold;

}

.splash{
  position: fixed;
  opacity: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 200;
  color: black;
  text-align: center;
  line-height: 7vh;

}

.button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Tahoma', sans-serif;
  font-weight: 300;
  color:#FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}
.button:hover {
  background-color: #4095c6;
}

@media all and (max-width:30em){
  .button {
    display: block;
    margin: 0.2em;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
